 table {
  color:'red';
    margin: 10px;
    border-collapse: collapse; /* Add borders to table cells */
  }
  
  td {
    border: 1px solid #ddd; /* Add borders to table cells */
    padding: 5px; /* Add padding to table cells */
  }
